.a4{
    color: blueviolet;
}
.a2{
    color: goldenrod;
}
.a3{
    color: green;
}
.a5{
    color: yellow;
}

span.ch2{
    display: inline-block;
    background-color: rgba(156, 98, 51, 0.664);
    width: auto;
    height: 100px;
    padding: 13px;
    border: 1px solid green;
    color: hotpink;
}
span.ch3{
    display: inline;
    background-color: rgba(156, 98, 51, 0.664);
    width: auto;
    height: 100px;
    padding: 13px;
    border: 1px solid green;
    color: hotpink;
}
span.ch4{
    display: inline-table;
    background-color: rgba(156, 98, 51, 0.664);
    width: auto;
    height: 250px;
    padding: 13px;
    border: 1px solid green;
    color: hotpink;
}
span.ch5{
    background-color: rgba(156, 98, 51, 0.664);
    width: auto;
    height: 250px;
    padding: 13px;
    border: 1px solid green;
    color: hotpink;
}