.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  background-color: aqua;
}
* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  margin-top: 50px;
  margin: 10%;
}