.title {
    display: flex;
    align-items: top;
    justify-content: center;
  }
  
  h1,
  h2 {
    font-family: sans-serif;
    text-align: center;
    color: black;
  }
  .logo {
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  body {
    font-family: system-ui;
    color: #555;
    background-color: #f7f7f7;
    min-height: 96vh;
    background: linear-gradient(to top left, #2e619c, #c0ceee);
    display: block;
    justify-content: center;
  }
  
  .container {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  
  .countries {
    margin-top: 1rem;
    font-size: 1.6rem;
    opacity: 0;
    transition: opacity 1.6s;
  }
  
  .country {
    display: flex;
    background-color: #fff;
    box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.2);
    font-size: 1.8rem;
    width: 70rem;
    border-radius: 0.7rem;
    margin: 3 0rem;
    margin-bottom: 2rem;
  }
  
  .neighbour::before {
    content: "Neighbour country";
    width: 100%;
    position: absolute;
    top: -4rem;
  
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(255, 230, 4);
  }
  
  .neighbour {
    transform: scale(0.8) translateY(1rem);
    margin-left: 0;
  }
  
  .country__img {
    float: left;
    flex: 50%;
    width: 20rem;
    object-fit: cover;
    background-color: #eee;
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
  }
  
  .country__data {
    float: left;
    flex: 50%;
    padding: 0.5rem 0rem 2rem 2.5rem;
  }
  
  .country__name {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  
  .country__region {
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
    text-transform: uppercase;
    color: #888;
  }
  
  .country__row:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  
  .country__row span {
    display: inline-block;
    margin-right: 2rem;
    font-size: 1.4rem;
  }