*{
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#invalid_input{
    color: rgb(148, 22, 39);
    background-color: rgba(82, 184, 82, 0.185);
    padding: 2px 50px;
    border-radius: 50px;
    transition: 0.6s;
    font-size: 0.85rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#invalid_input:hover{
    color: rgb(169, 177, 169);
    background-color: rgba(46, 7, 12, 0.445);
    padding: 4px 60px;
    border-radius: 50px;
}
#title{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: oblique;
    font-weight: 600;
    padding: 15px 80px;
    background-color: rgba(255, 0, 0, 0.65);
    border-radius: 5px;
    transition: 0.2s;
}
#title:hover{
    background-color: rgb(255, 0, 0);
    padding: 20px 100px;
    letter-spacing: 1px;
    /* box-shadow: 0px 0px 50px 50px red, 0px 0px 100px 100px #fff; */

}
#TODO_list{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    /* background-color: rgba(42, 49, 50, 0.185); */
    transition: 0.2s;
    padding: 15px 80px;
    min-height: 300px;
}
#TODO_list:hover{
    /* background-color: rgba(97, 97, 97, 0.3); */
    padding: 20px 100px;
    border-radius: 0;
}
#add{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border: 1px solid black;
    width: 450px;
}
#addInput{
    padding: 14px;
    outline: none;
    border: none;
    font-family: 'Merienda', cursive;
    font-weight: 600;
    width: 450px;
}
#addBtn{
    padding: 7px 18px;
    font-size: 1.5rem;
    background-color: rgba(95, 81, 153, 0.884);
    border: none;
    transition: 0.3s;
    font-family: 'Merienda', cursive;
}
#addBtn:hover{
    background-color: rgb(206, 250, 153);
}
#mainList{ 
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-height: 375px;
    overflow-y: auto;
    padding-right: 7%;
}
#mainList::-webkit-scrollbar{
    width: 0px;
}
main{
    /* background-color: rgba(238, 79, 79, 0); */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
footer{
    background-color: rgba(51, 107, 135, 0.2);
    align-self: stretch;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
#liko{
    text-decoration: none;
    color:purple;
}
#liko:focus{
    color:purple;
    text-decoration: none;
}
#liko:visited{
    color:purple;
    text-decoration: none;
}
body{
    background-color: rgba(144, 175, 197, 1);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.checkbox{
    width: 20px;
    height: 20px;
    opacity: 0.1;
    margin-left: 10px;
    transition: 0.2s;
}
.checkbox:checked{
    width: 20px;
    height: 20px;
    opacity: 0.1;
    margin-left: 10px;
}
.checkbox:hover{
    width: 21px;
    height: 21px;
    opacity: 0.3;
    margin-left: 10px;
}
.remove{
    padding: 2.5px 6.1px 0px 6.1px;
    border: none;
    margin: 0 7px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.2rem;
    transition: 0.3s;
    margin-left: auto;
}
.remove:hover, .removeChecked:hover{
    padding: 2.5px 6.1px 0px 6.1px;
    border: none;
    margin: 0 7px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.3rem;
    margin-left: auto;
}
.removeChecked{
    padding: 2.5px 6.1px 0px 6.1px;
    color: rgb(221, 73, 73);
    border: none;
    margin: 0 7px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.2rem;
    transition: 0.3s;
    margin-left: auto;
}
.text{
    font-family: 'Merienda', cursive;
    font-weight: 500;
    padding: 10px;
    transition: 0.1s;
}
.text:hover, .textChecked:hover{
    font-family: 'Merienda', cursive;
    font-weight: 500;
    padding: 10px;
    letter-spacing: 0.25px;
    text-decoration: none;
}
.textChecked{
    font-family: 'Merienda', cursive;
    font-weight: 500;
    padding: 10px;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.61);
}
.task{
    display: flex;
    border: 3px solid black;
    margin: 1px 0;
    border-radius: 5px;
    align-items: center;
    background-color: rgba(54, 65, 110, 0.589);
    transition: 0.1s;
    width: 450px;
}
.taskChecked{
    display: flex;
    border: 3px solid black;
    margin: 1px 0;
    border-radius: 5px;
    align-items: center;
    background-color: rgba(41, 25, 37, 0.568);
    transition: 0.1s;
    width: 450px;
}
.task:hover{
    margin: 5px 0px;
    padding: 3px 10px;
    background-color: rgba(54, 65, 110, 0.712);
}
.taskChecked:hover{
    margin: 5px 0px;
    padding: 3px 10px;
    padding: 3px 10px;
    background-color: rgba(53, 33, 48, 0.568);
}