/* NAV */
body{
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 100vh;
}
nav{
    justify-self: stretch;
    background-color: #35424A;
    display: flex;
    align-items: center;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    border-bottom: solid #A9508B 2px;
}
nav h1{
    justify-self: flex-start;
    margin-right: auto;
    margin-left: 15px;
    color: white;
}
nav > h1 > span{
    color: #A9508B;
}
nav div{
    justify-self: flex-end;
    margin-right: 15px;
    margin-left: auto;
}
nav a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color:white;
    padding: 0 15px;
    font-size: 0.75rem;
}
nav a:link{
    color:white;
}
nav a:focus{
    color: #A9508B
}
nav a:hover{
    color: #a77195
}
.isOn{
    color: #A9508B;
}
/* SUBSCRIBE */
form{
    background-color: #35424A;
    display: flex;
    padding: 30px 0;
    flex-flow: nowrap row;
    align-items: center;
    color: white;
    justify-content: space-between;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
form h3{
    margin: 0px 20px;
}
form div input{
    padding: 10px 70px 10px 10px;
    border: none;
    outline: none;
    margin: 5px 2px 5px 5px;
}
form div button{
    color: white;
    padding: 10px 20px;
    background-color: #E8491D;
    border: none;
    margin: 5px 10px 5px 2px;
}
/* FOOTER */
footer{
    width: 100%;
    display: flex;
    background-color: #35424A;
    align-items: center;
    flex-flow: column nowrap;
    padding: 10px 0;
    position: absolute;
    bottom: 0px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}
footer img{
    width: 150px;
    margin-bottom: 10px;
}
footer p{
    font-size: 1rem;
    color: white;
    margin-bottom: 0;
}
/* MAIN */
main{
    padding-bottom: 6rem;
}
main h1,main h2,main h3,main h4,main h5,main h6{
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
main p{
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}




/* →main1 */
#introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow:  column nowrap;
    background-image: url(./showcase.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 130px 0;
    color: white;
}
#introduction h1{
    font-size: 4rem;
}
#languages{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}
#languages div{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    padding: 30px;
    max-width: 25%;
    min-width: 20%;
}
#languages > div img{
    width: 100px;
}

/* →main2 */
#main2{
    display: flex;
}
#main2 div{
    padding: 10px;
    margin: 5px;
}
#div1, #div2{
    background-color: #35424A;
    color: white;
}
#div2{
    height: fit-content;
}

/* →main3 */
#main3{
    display: flex;
    flex-wrap: wrap;
}
#services{
    margin: 0 40px 30px 40px;
}
#services > h2{
    padding: 5px;
}
.option{
    padding: 20px 10px;
    background-color: rgba(230, 230, 230, 0.8);
    margin: 5px;
    border: 1px solid #CCCCCC;
}
#main3 > form{
    background-color: #35424A;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    margin: 20px;
    align-items: stretch;
    padding: 10px 50px 20px 20px;
    max-height: 350px;
}
#main3 > form > input{
    padding: 10px;
    width: inherit;
}
#main3 > form > textarea{
    resize: none;
}
#main3 > form > button{
    background-color: #E8491D;
    padding: 15px 25px;
    border: none;
    color: white;
    align-self: flex-start;
}