@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #333;
}

body nav {
  position: absolute;
  top: 0;
  background-color: #f8755e;
  border-radius: 0 0 100% 0;
  width: 100px;
  height: 100px;
  z-index: 5;
}

body nav img {
  width: 40px;
  left: 15px;
  top: 15px;
  position: relative;
}

body span {
  background-color: #fd5353;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -100px;
  left: -100px;
  z-index: 10;
  border-radius: 0 0 100% 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body span img {
  width: 60px;
  left: 5px;
  top: 5px;
  position: relative;
}

body > div {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition: 0.6s linear;
  transition: 0.6s linear;
  z-index: 0;
}

body > div main {
  font-family: 'Lato', sans-serif;
  max-width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 90px 0;
}

body > div main #img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
}

body > div main #img img {
  max-width: 100%;
}

body > div main h1 {
  margin-bottom: 1px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-width: 1000px;
}

body > div main h3 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-width: 1000px;
}

body > div main h5 {
  margin-top: 0;
  font-style: italic;
  font-weight: 200;
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-width: 1000px;
}

body > div main p {
  font-weight: 500;
  line-height: 25px;
  max-width: 1000px;
}

body footer {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  color: white;
  position: fixed;
  width: 250px;
  bottom: 30px;
}

body footer ul {
  list-style: none;
}

body footer ul li {
  margin: 40px 0;
}

body footer ul li i {
  font-size: 20px;
}

body footer ul #a1 {
  margin-left: 20px;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

body footer ul #a2 {
  margin-left: 40px;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

body footer ul #a3 {
  margin-left: 60px;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

body footer ul #default1 {
  margin-left: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

body footer ul #default2 {
  margin-left: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

body footer ul #default3 {
  margin-left: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.rotate {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition: 0.6s linear;
  transition: 0.6s linear;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.notClosed {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 0;
  left: 0;
}

.notActive {
  position: fixed;
  left: -280px;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.active {
  position: fixed;
  left: 30px;
  -webkit-transition: 0.6s linear;
  transition: 0.6s linear;
}
/*# sourceMappingURL=Rotating Navigation.css.map */