#par1 {
  color: rgba(0, 255, 10, 0.8);
  text-align: center;
  text-transform: uppercase;
}
#par2 {
  color: blue;
  text-align: right;
  text-transform: lowercase;
  font-family: "Parisienne", cursive;
  text-shadow: 2px 2px 5px red;
}
#par3 {
  color: red;
  text-align: justify;
  /* text-transform: capitalize; */
  /* text-indent: 50px;
  letter-spacing: 5px; */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  direction: rtl;
  text-shadow: 20px 2px 5px red;
}
#par4 {
  color: hsla(120, 80%, 50%, 0.9);
  text-decoration: underline;
  text-indent: 15px;
}
#par5 {
  color: green;
  text-decoration: overline wavy red;
  word-spacing: 15px;
}
