*{
    margin: 0;
    padding: 0;
}
.container {
    display:  flex;
    border: 6px solid violet;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    align-items: flex-start;
    height: 400px;   
}
.items{
    background-color: tomato;
    color: white;
    font-size: 20px;
    padding: 15px;
    margin: 2px;
    text-align: flex-start;
    width: 200px;    
    }