body{
    width: auto;
    height: auto;
    justify-content: center;
    text-align: center;
}
.TopBar{
    padding: 10px;
    display: inline;
    width: 100%;
}      
.TopBar > #a2{
    float: right;
}
.TopBar > #a3{
    float: left;
}
.TopBar1{
    background-color: none;
    padding: 0.35rem;
    font-size: 0.8rem;
    vertical-align: middle;
    text-decoration: none;
    color: black;
    font-weight: 500;
    letter-spacing: 0.2px;
    font-family: sans-serif;
}
#login{
    background-color: rgb(67, 105, 228);
    padding: 0.6rem 1.6rem;
    color: white;
    font-weight: 60;
    font-family: sans-serif;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}
#login:hover{
    background-color: rgb(76, 112, 230);
}
.title{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    clear: both;
}
#logo{
    margin-top: 10%;
    margin-bottom: 2%;
}
#sBar{
    font-size: 1.2rem;
    padding: 13px;
    width: 65%;
    border-radius: 40px;
    border-color: rgba(0, 0, 0, 0.25);
    box-shadow: none;
    outline: none; /*removes the default outline*/
    max-width: 750px;
    min-width: 25rem;
}
#sBar:focus{
    border-color: rgba(0, 0, 0, 0.6);
}
#magnifying{
    width: auto;
    height: 7%;
    vertical-align: center;
    position: relative;
    left: 45px;
    top: 20px;
}
#microphone{
    width: 2.5%;
    height: 2.5%;
    position: relative;
    vertical-align: center;
    top: 15px;
    right: 45px;
}