#p1{
    color: rgba(146, 175, 158, 0.459);
    text-align: center;
}
#p2{
    color: rgba(146, 175, 158, 0.459);
    text-align: left;
}
#p3{
    color: rgba(146, 175, 158, 0.459);
    text-align: right;
    font-family: 'Sorts Mill Goudy', serif;
}
#p4{
    color: rgba(146, 175, 158, 0.459);
    text-align: justify;
}
#p5{
    color: rgba(146, 175, 158, 0.459);
}